<template>
    <div class="navbar">        
        <button class="btn" @click="goToHelloWorld">HelloWorld</button>
        <button class="btn" @click="goToForm">Form</button>
        <button class="btn" @click="goToAbout">About</button>        
    </div>
</template>
<script>
export default {
    name: 'NavBar',
    methods: {
        goToHelloWorld() {
            this.$router.push({ path: '/' });
        },
        goToForm() {
            this.$router.push({ path: '/Form' });
        },
        goToAbout() {
            this.$router.push({ path: '/About'});
        }
    }
}
</script>
<style>
.navbar {
    position: absolute;
    width:100%;
    top: 0;
    display: flex;
    background-color: lightgray;
    height: 40px;
}

.btn {
    background: transparent;
    border: none;
    padding: 10px;
    border-right: 1px solid gray;
}

.btn:hover {
    background: dimgray;
    color:white;
    cursor: pointer;
}

</style>